{{input type="text" id="changePlaceholder" class="padding-left-24 input-field-borderBottom" maxlength="40" value=data change="inputChange" placeholder="搜索房间或老人"}}
<!-- <div class="line">.</div> -->
{{#if clearShow}}
<i style="position:absolute;top:0px;right:0px;" {{action 'clear' on='tap'}}>
  <img src="assets/images/mobile/Clear.png"/></i>
{{/if}}
