<div id="userBodyWeightContainer" class="mainContent">
  <div class="wrapperInner healthy-fileBd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container healthy-check">
  <section class="check">
    <div id="bodyWeight" style="height:260px;" class="text-center"></div>
    <p>您最近一次测量的体重值为：{{firstWeight.result}}kg</p>
    <p>{{contentsEmpty}}</p>
  </section>

  <section class="jujia-catalog">
    <ul>
      <li class="body-weight-upload" id="body-weight-upload" {{action 'switchPage' 'body-weight-upload' 'body-weight-upload' on="tap"}}>
        <i class="fa fa-upload prev"></i>
        <span class="">手动上传</span>
        <i class="fa fa-angle-right next"></i>
      </li>
    </ul>
  </section>

</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
