<!-- <div class="top16 font-large center">欢迎进入天年宝养老管理系统</div> -->
{{#if jujia}}
<div class="col-sm-12 nopadding-left nopadding-right position-relative" id='homePage' style="margin-top:-30px;overflow: hidden;">
  <img src="/assets/images/icon/首页-背景图.png" alt="" class="homePage-img">
  <div class="center2" id='center'>
    <img src="/assets/images/icon/康颐logopng.png" alt="" class="img" id='img'>
    <div class="jujia-homePage-title1" id='homePage-title1'>欢迎使用康颐</div>
    <div class="jujia-homePage-title2" id='homePage-title2'>关爱老人后台管理系统</div>
  </div>
</div>
{{else}}
<div class="col-sm-12 nopadding-left nopadding-right position-relative" id='homePage' style="margin-top:-30px;overflow: hidden;">
  <img src="/assets/images/icon/首页-背景图.png" alt="" class="homePage-img">
  <div class="center2" id='center'>
    <img src="/assets/images/icon/big-logo2.png" alt="" class="img" id='img'>
    <div class="homePage-title1" id='homePage-title1'>欢迎使用天年宝机构养老管理系统</div>
    <div class="homePage-title2" id='homePage-title2'>关爱老人 感恩陪伴</div>
  </div>
</div>
{{/if}}
