
<div id="">
  <div class="col-sm-12" id="datatable1">
    {{#each typeList as |type|}}
    <div class="col-sm-3 pointer" {{action 'toDevice' type on="click"}}>
      <div class="box device-typecard {{type.class}}" >
        <div class="box-body">
          <div>{{ui/img-intergration name="avatarImg" imgSrc=type.imgUrl}}</div>
          <div style="color:#fff;text-align:center;margin-top:20px;"><i style="font-size:28px;">{{type.name}}&nbsp;</i><span>方案</span></div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
