<div id="userDietUploadContainer" class="mainContent">
  <div class="wrapperInner jujia-Bd">
{{#ui/mobile/gestures-container}}
<div class="jujia-container diet-upload">
  <section class="msg-box">
    <div class="in-box">
      {{#ui/img-intergration-simple name="dietImg" isMobile=true hasUploader=true isResizeImage=true imgSrc=defaultImgSrc height=280 width=280 margin-left=0 uploadUrl=uploadUrl uploadSucc="uploadSucc" uploadFail="uploadFailImg" businessType=constants.uploadBusinessType_jujia as |component|
          }}
      {{/ui/img-intergration-simple}}
    </div>

  </section>
</div>


{{/ui/mobile/gestures-container}}
</div>
</div>
{{ui/container/infinite-scroll moniteData="userJujiaMy" didRenderAction="didRender" didInsertElementAction="didInsertElement"}}
