<div class="">
  {{#callbusi/eva-question-detail changeFlag=changeFlag evaluate=evaluate addMode=addMode id=id editMode=editMode flagEdit=flagEdit userList=userList  customerObj=customerObj allresultList=allresultList selectQuestionObj=selectQuestionObj}}
  {{/callbusi/eva-question-detail}}
</div>
