<div id="fulfilTaskContainer" class="mainContent">
  <div class="wrapperInner">
    <div class="padding10">
      任务!
      完成任务界面。暂时未配置信息
    </div>
  </div>
</div>
{{ui/container/infinite-scroll moniteData="fulfilTaskList" didRenderAction="didRender"
didInsertElementAction="didInsertElement"}}
