
<div class="col-md-12">
	<div class="box">
		<!-- BOX-BODY -->
		<div class="box-body">
			<!-- 列表编辑-->
			<div class="row">
				<div class="col-xs-12">
					<p class="user-add-btn">
						<button class="btn btn-primary" type="button"><i class="fa fa-check icon-white"></i>&ensp;保存</button>
						<button class="btn btn-light-grey" disabled=""><i class="fa fa-times"></i>&ensp;取消</button>
					</p>
				</div>
				<div class="marginLR-100">
					<div class="col-xs-12 nopadding-horizontal mt20">
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">房间名称：</span>
								<input class="input-group-content" placeholder=""/>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">房间朝向：</span>
								<select class="input-group-content">
									<option value="" selected="selected"></option>
		  						<option value="朝南">朝南</option>
		              <option value="朝北">朝北</option>
		              <option value="朝东">朝东</option>
		              <option value="朝西">朝西</option>
		              <option value="南北通">南北通</option>
		  						<option value="东北通">东北通</option>
		            </select>
							</div>
							
						</div>
		        <div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">房间类型：</span>
								<select class="input-group-content">
									<option value="" selected="selected"></option>
		  						<option value="单人间">单人间</option>
		              <option value="双人间">双人间</option>
		              <option value="四人间">四人间</option>
		            </select>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">房间面积：</span>
		            <input class="input-group-content" value=""/>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">参考价格：</span>
		            <input class="input-group-content" value=""/>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">所属楼宇：</span>
								<input class="input-group-content" placeholder=""/>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-input-group">
								<span class="input-group-addon">所属楼层：</span>
								<input class="input-group-content" placeholder=""/>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- 列表编辑 -->
		</div>
		<!-- /BOX-BODY -->
	</div>
</div>
