<div id="taskCountDetailContainer">
  <div class="wrapperInner">
    <div class="timesCount">
      <div class="detailBox">
        <div class="title clearfix">喂药任务</div>
        <ul class="font16">
          <li class="clearfix">
            <span class="pull-left font16 weightbold">第一次:</span>
            <textarea class="pull-left width80 left4" name="name" rows="2" cols="40">xxx药还剩2颗，少吃了一颗药还剩2颗，少吃了一颗药还剩2颗，少吃了一颗</textarea>
          </li>
          <li class="clearfix">
            <span class="pull-left font16 weightbold">第二次:</span>
            <textarea class="pull-left width80 left4" name="name" rows="2" cols="40">xxx药吃过后除了有点嗜睡，其他一切正常</textarea>
          </li>
          <li class="clearfix">
            <span class="pull-left font16 weightbold">第三次:</span>
            <input class="pull-left width80 left4" type="text" name="name" >
          </li>
        </ul>
        <div class="btnBox clearfix">
          <a class="btn cancel btn-lg" href="javascript:;" {{action "backMain" on="click"}}><i class="fa fa-times"></i>取消</a>
          <a class="btn btn-lg" href="javascript:;" {{action "backMain" on="click"}}><i class="fa fa-check icon-white"></i>确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
