
<div class="box panel-default col-sm-12 nopadding-bottom">
  <div class="box-body">
    <div class="tabbable">
      <div class="tab-content fade in col-md-12 nopadding-left nopadding-right">
        <div class="tab-pane fade in  active">
          {{#callbusi/customer-info customerInfo=customer goNext="goNext" stagingAction="stagingAction" shortSave=true detailModify=true}}
          {{/callbusi/customer-info}}
        </div>
      </div>
    </div>
  </div>
</div>
