{{#ui/mobile/inner-tabbar menus=tabFuncs switchTab="switchTab" serviceListFlag=serviceListFlag clickActFlag=clickActFlag itemXs="col-xs-6" positionClass="abs-top-44 service-care" theme="block-mode"}}
{{/ui/mobile/inner-tabbar}}
{{#ui/mobile/gestures-container}}

  <div class="{{if service_PageConstrut.showLoader 'hide' ''}}">
    <!-- 按老人 -->
    <div class="{{if (eq curTabCode 'scoreByCustomer') '' 'hide'}}">
      {{#callbusi/mobile/score-by-customer customerList=customerList queryFlagInAction="queryFlagInAction" scollFlag=scollFlag showLoadingImgFlag=showLoadingImgFlag}}
        {{/callbusi/mobile/score-by-customer}}
    </div>
    <!-- 按员工 -->
    <div class="{{if (eq curTabCode 'scoreByEmployee') '' 'hide'}}">
      {{#callbusi/mobile/score-by-employee employeeList=employeeList queryFlagInAction="queryFlagInAction" scollFlag=scollFlag showLoadingImgFlag=showLoadingImgFlag}}
        {{/callbusi/mobile/score-by-employee}}
    </div>
  </div>


{{/ui/mobile/gestures-container}}
