.login{
  margin-top:3%;
  padding-left:6.5%;
  padding-right:6.5%;
  input{
    border-radius: 0 !important;
    color:#cccccc !important;
  }
  .forget{
    line-height: 40px;
    color: #d43125;
  }
  .password{
    display: block !important;
    font-size: 16px;
    height: 22px;
    right: 30px;
    margin-top: 12px;
    position: absolute !important;
    text-align: center;
    width: 22px;
    z-index: 1
  }
  .btn-info{
    color:#fff !important;
    box-shadow: -1px 1px 8px #888888;
    border-radius: 3px;
    font-size: 24px;
  }
  .form-actions{
    font-size: 18px;
  }
  .registered{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}
