<input id="my_txtbox" type="text" class="form-control" placeholder={{placeholder}}
onfocus={{action 'focus'}} />
<span class="input-group-addon" {{action "dtClick" on="click"}}>
  <div class="square"><i class={{iconClasses}}></i></div>
</span>
