<div class="row">
    <!--客户信息部分-->
    <div class="col-sm-4">
      {{#callbusi/customer-info customer=customer
      saveCustomer="saveCustomer"
      saveWorkorder="saveWorkorder" }}
      {{/callbusi/customer-info}}
    </div>
    <!--工单列表部分-->
    <div class="col-sm-8">
        <div class="row">
            <div class="panel panel-color panel-gray nopadding-vertical top-buffer bottom-buffer-little">
                <div class="panel-heading">
                    <h3 class="panel-title">工单信息</h3>
                    <div class="panel-options">
                              <i class="fa-plus-circle"></i>
                              <span>新增工单</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
              {{ log 'workorderList in hbs:' workorderList }}
              {{#each workorderList as |workorder|}}
                {{#callbusi/workorder-item
                customer=model.customer
                workorder=workorder
                saveCustomer="saveCustomer"
                saveWorkorder="saveWorkorder" }}
                {{/callbusi/workorder-item}}
              {{/each}}
            </ul>
        </div>
    </div>
</div>