<div class="col-sm-1 nopadding-right pointer " style="line-height:24px;">
  <div class="{{if plan.hasChoosed 'drug-time-color' ''}} center" style="border:1px solid #ddd;margin-bottom:5px;" {{action 'choosed' plan on='click'}}>
    <span>{{plan.food.name}}</span>
  </div>
</div>
