<div id="messageContainer" class="mainContent">
  <div class="wrapperInner">
    <ul>
  {{#each messageList as |message|}}

        <li>
          {{message.code}}
        </li>

  {{/each}}
  </ul>
  </div>
</div>
