<ul class="nopadding-left bgcolor-white">
    <li class="input_noneborder top10 textarea">
        {{input type=type class='edit fullWidth padding-left-8' value=fieldInfo.value placeholder=fieldInfo.valueType.typename autofocus=true bubbles=false }}
    </li>
    <li class="top10 center"></li>
</ul>
