<ul class="nopadding-left">
    <li class="input_noneborder top10 text-input">
        {{input type=type class='edit fullWidth padding-left-8' value=value placeholder=placeholder autofocus=true bubbles=false }}
    </li>
    <li class="top10 center"></li>
</ul>
