
<div class=" lable-item {{if hasSelected 'selected' ''}}" {{action "clickAction" on="click"}} >
  <div >{{ui/img-intergration name="avatarImg" imgSrc='assets/images/icon/person.png' width=30}}</div>
  <div class="text" >{{text}}</div>
</div>
