{{#if isUpshow}}
  <div class=''>{{menu.mobileMenuName}}</div>
{{else}}
  <div class='footer-text'>{{menu.mobileMenuName}}</div>
  <div class="position_absolute" id="triangle" style="bottom:5px;right:0;"></div>
{{/if}}
