    {{#unless noIcon}}
      <i class="{{menu.mobileIcon}}"></i>
    {{/unless}}
    <div class='footer-text'>{{menu.mobileMenuName}}</div>
    <!-- <div class="position_absolute"  style="bottom:0;right:0;">
      哈哈
    </div> -->
