<button class="btn btn-icon btn-turquoise btn-xs pull-right btn_xs_padding {{paddingBorder}}" disabled={{disabled}} bubbles=false>
	<i class="{{iconClass}}"></i>
	&nbsp;
	<span>{{text}}</span>
</button>
