<div {{action "doSelect" itemData.fromUser.id on="click"}} class="pointer">
{{yield}}
</div>
<!-- {{#if showPopMenu}}
  {{#if funcDef}}
    <li>
      {{#each funcDef as |funcBtn|}}
      {{#ui/mix-button iconClass=funcBtn.iconClass text=funcBtn.text clickAction=funcClickAction}}

      {{/ui/mix-button}}
      {{/each}}
    </li>
  {{/if}}
{{/if}} -->
