<div class="col-sm-offset-2 col-sm-8">
  <h1 class="center">固话及天翼号码来显材料要求</h1>
  <div class="">
    <h3>一、相关材料</h3>
    <p>
      （一）最终用户的 “申请显示号码声明书”盖章扫描件；（见附件一：声明书）
    </p>
    <p>
      （二）平台商 “担保书”盖章扫描件。（由平台提供，平台会回拨电话确认号码归属声明人）
    </p>
    <p>
      （三）能证明最终用户号码确实归属于用户的截图，如：网厅登录后显示号码与户主关系的截图或该号码的账单或运营商的授权证明(需要号码运营商提供授权书)；
    </p>
    <p>
      （四）最终用户的营业执照/组织机构代码扫描件（如果是个人用户提供身份证扫描件）
    </p>
  </div>
  <div class="">
    <h3>二、号码归属说明</h3>
    <p>
      号码为个人（公司）用户所有，授权给A公司使用，需要提供个人（公司）用户号码归属证明：例如：网上营业厅截图：
    </p>
    <div class="center top8">
      <img src="assets/images/desc-document1.png" alt="" class="col-sm-12 nopadding-horizontal" />
    </div>
    <div class="center top8">
      <img src="assets/images/desc-document2.png" alt="" class="col-sm-12 nopadding-horizontal" />
    </div>
    <p class="top8">
      话费发票、电信营业受理单等等
    </p>
    <p class="top8">
      必须能够体现用户号码和户主信息电信公司提供的账单：例如：
    </p>
    <div class="center top8">
      <img src="assets/images/desc-document3.png" alt="" class="col-sm-12 nopadding-horizontal" />
    </div>
  </div>
</div>
