{{log "app loading in"}}
<!-- {{public/spinkit-pulse}} -->
<div class="center top10" style="width:100%;font-size:16px;">
  <img class="width44" src="assets/images/logo/loading.gif" alt="">
  <!-- loading... -->
</div>
