<section class="login-block">
  <div class='topbanner'>
    <div class="poswrap">
      <a class="brand">
        <h1>天年宝</h1>
        <h3>机构养老管理系统</h3>
      </a>
    </div>
  </div>
  <div class="form-unit" style="margin-bottom:100px;margin-top:25px;">
    <div>
      <h4 >重置密码</h4>
      <div class="form-field">
        {{input type="text" class='reset-mobile' id='mobile' name="mobile" value=mobile focus-in="changeInfo" disabled=true}}
      </div>
      <div class="form-field">
        {{input type="password" placeholder="请输入新密码" id='password' name="password" value=password focus-in="changeInfo"}}
        {{#if pwdFalse}}
        <span class='login-error'><i class="fa fa-times"></i>&nbsp;{{pwdInfo}}</span>
        {{/if}}
      </div>
      <input type="button" class="login-btn" id='reset-password'  value="重置密码" {{action 'resetPassword' on="click"}}>
    </div>

  </div>
  <footer class="col-sm-12 col-xs-12 center">

  </footer>
</section>
